In [2]:
#pandas labeles, dataFrame,Series
import pandas as pd

#set current working directory
import os
working_dir = os.getcwd()
print(working_dir) # same as notebook path

C:\Users\siganath\source\repos\MyLearning\DataAnalytics\NUS Online - Python For Analytics - Aug2020\Notebook

In [ ]:
#from Dic data

dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

brics = pd.DataFrame(dict)
print(brics)

In [3]:
#import CSV
df = pd.read_csv('ChallengerSales_Week5_pandas.csv')
#print(df)
print(df.head(2)) # take first 10
print(df.tail(2)) # take last 10

    Date  Day     Time  Gender BuyCategory  ItemsOrdered  TotalCost  HighItem  \
0  6-Mar  Mon  Morning  Female        High             4     136.97     79.97
1  6-Mar  Mon  Morning  Female      Medium             1      25.55     25.55

  Member Region
0    Yes   West
1     No   West
       Date  Day       Time  Gender BuyCategory  ItemsOrdered  TotalCost  \
398  25-Jun  Sat  Afternoon    Male      Medium             4     168.64
399  25-Jun  Sat  Afternoon  Female         Low             1     107.59

     HighItem Member Region
398     85.79     No   East
399    107.59     No   East

In [ ]:
#import execel / txt
#df_e = pd.read_excel()

In [21]:
#built in funcations to check dataframe characterstics

df.dtypes  # each colmn datatype
df.shape # no of (row , column)
df.index
df.columns # column names
df.values # in 2D array

array([['6-Mar', 'Mon', 'Morning', ..., 79.97, 'Yes', 'West'],
       ['6-Mar', 'Mon', 'Morning', ..., 25.55, 'No', 'West'],
       ['6-Mar', 'Mon', 'Afternoon', ..., 90.47, 'Yes', 'West'],
       ...,
       ['25-Jun', 'Sat', 'Afternoon', ..., 180.66, 'No', 'West'],
       ['25-Jun', 'Sat', 'Afternoon', ..., 85.79, 'No', 'East'],
       ['25-Jun', 'Sat', 'Afternoon', ..., 107.59, 'No', 'East']],
      dtype=object)

In [25]:
# 
df.rename(columns={'Gender':'Sex'}) #rename column name # inplace=true to make change permaneat
#help(df.rename())

,Date,Day,Time,Sex,BuyCategory,ItemsOrdered,TotalCost,HighItem,Member,Region
0,6-Mar,Mon,Morning,Female,High,4,136.97,79.97,Yes,West
1,6-Mar,Mon,Morning,Female,Medium,1,25.55,25.55,No,West
2,6-Mar,Mon,Afternoon,Female,Medium,5,113.95,90.47,Yes,West
3,6-Mar,Mon,Afternoon,Female,Low,1,6.82,6.82,No,East
4,6-Mar,Mon,Afternoon,Male,Medium,4,147.32,83.21,Yes,West
...,...,...,...,...,...,...,...,...,...,...
395,25-Jun,Sat,Afternoon,Male,Medium,6,268.39,170.13,No,East
396,25-Jun,Sat,Afternoon,Female,Medium,3,169.11,80.08,No,East
397,25-Jun,Sat,Afternoon,Male,Medium,6,242.46,180.66,No,West
398,25-Jun,Sat,Afternoon,Male,Medium,4,168.64,85.79,No,East
399,25-Jun,Sat,Afternoon,Female,Low,1,107.59,107.59,No,East

In [13]:
# series => create single column values into another var
series = df['TotalCost'] # series 
type(series)

print(df[2:4]) # 4 rows , 2,4

print(df['Region'][3])
df.index

    Date  Day       Time  Gender BuyCategory  ItemsOrdered  TotalCost  \
2  6-Mar  Mon  Afternoon  Female      Medium             5     113.95
3  6-Mar  Mon  Afternoon  Female         Low             1       6.82

   HighItem Member Region
2     90.47    Yes   West
3      6.82     No   East
East

RangeIndex(start=0, stop=400, step=1)

In [46]:
#ge N columns
#cols1 = df['Memeber','Region'] # create new dataFrame

In [32]:
# Set the index for brics to replace default 0-4
brics.index = ["BR", "RU", "IN", "CH", "SA"]

# Print out brics with new index values
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [5]:
#.loc indexer ; iloc index with int
df.loc[1,'Member'] # row , column name
df.iloc[1,1]  #row , column index # only index for xolumn not string accepted
print(df.loc[0:2]) # loc display 0 to 2 not as index
print(df.iloc[0:2]) # loc display 0 to 2 as index

    Date  Day       Time  Gender BuyCategory  ItemsOrdered  TotalCost  \
0  6-Mar  Mon    Morning  Female        High             4     136.97
1  6-Mar  Mon    Morning  Female      Medium             1      25.55
2  6-Mar  Mon  Afternoon  Female      Medium             5     113.95

   HighItem Member Region
0     79.97    Yes   West
1     25.55     No   West
2     90.47    Yes   West
    Date  Day     Time  Gender BuyCategory  ItemsOrdered  TotalCost  HighItem  \
0  6-Mar  Mon  Morning  Female        High             4     136.97     79.97
1  6-Mar  Mon  Morning  Female      Medium             1      25.55     25.55

  Member Region
0    Yes   West
1     No   West

In [77]:
#slicing
cols_need = ['Gender','Region']
df[cols_need] #list of columns

df.iloc[:,9] #using iloc
df.iloc[:,0:5:] #using iloc using slicing

cols_need_i = [0,2,8]
df.iloc[:,cols_need_i] #using iloc using list of columns index

       Date       Time Member
0     6-Mar    Morning    Yes
1     6-Mar    Morning     No
2     6-Mar  Afternoon    Yes
3     6-Mar  Afternoon     No
4     6-Mar  Afternoon    Yes
..      ...        ...    ...
395  25-Jun  Afternoon     No
396  25-Jun  Afternoon     No
397  25-Jun  Afternoon     No
398  25-Jun  Afternoon     No
399  25-Jun  Afternoon     No

[400 rows x 3 columns]

In [ ]:
#new column

In [90]:
#Filter data using Boolean indexing
#member only
memnber_filter = df['Member'] == 'Yes'
print(memnber_filter.head(10))

0     True
1    False
2     True
3    False
4     True
5    False
6    False
7    False
8    False
9    False
Name: Member, dtype: bool

In [102]:
#apply filter and print only shortlisted rows
memnber_filter1 = df.loc[memnber_filter,:]

print(memnber_filter1.head(10))
#print(memnber_filter1,memnber_filter)

      Date    Day       Time  Gender BuyCategory  ItemsOrdered  TotalCost  \
0    6-Mar    Mon    Morning  Female        High             4     136.97
2    6-Mar    Mon  Afternoon  Female      Medium             5     113.95
4    6-Mar    Mon  Afternoon    Male      Medium             4     147.32
10   8-Mar    Wed    Morning  Female      Medium             2      54.52
12   9-Mar  Thurs    Morning    Male        High             3     147.68
16  10-Mar    Fri  Afternoon  Female      Medium             6      96.53
17  10-Mar    Fri  Afternoon  Female      Medium             4      77.44
22  12-Mar    Sun    Evening  Female        High             9     429.98
25  14-Mar   Tues    Morning  Female      Medium             5     139.51
29  15-Mar    Wed  Afternoon  Female        High             2      83.38

    HighItem Member Region
0      79.97    Yes   West
2      90.47    Yes   West
4      83.21    Yes   West
10     54.38    Yes   East
12     96.64    Yes   East
16     93.68    Yes  South
17     77.28    Yes   West
22    381.33    Yes   West
25    133.11    Yes   East
29     71.02    Yes  South

In [103]:
#value count => group by
print(df['Member'].value_counts())
print(df['Member'].value_counts(normalize=True)

No     306
Yes     94
Name: Member, dtype: int64
No     0.765
Yes    0.235
Name: Member, dtype: float64

In [135]:
#multi filter conditions
df_region_filter = (df['Region'] == 'West') | (df['Region'] == 'East')
#df_region_filter.head()
dft = df.loc[df_region_filter,'Region'] #apply filter
print(dft.head(2))
dft.value_counts()

0    West
1    West
Name: Region, dtype: object

West    121
East    115
Name: Region, dtype: int64

In [123]:
#unique = df['Region'].unique()
df_region_filter = (df['Region'] == 'West') | (df['Region'] == 'East')

In [27]:
#Qu
filter1 =  (df['Gender'] == 'Female') &  (df['ItemsOrdered'] > 1)
filter2 =  (df['TotalCost'] > 50) &  (df['TotalCost'] <= 400)
dft = df.loc[filter1 & filter2,'Time']
#print(type(dft))
#print(dft.value_counts())
dft.value_counts(normalize=True)
dft.count()
dft.name
#dft.idxmax()
dft.sort_index()
dft.sort_values()

396    Afternoon
209    Afternoon
203    Afternoon
319    Afternoon
196    Afternoon
         ...
166      Morning
163      Morning
161      Morning
155      Morning
212      Morning
Name: Time, Length: 184, dtype: object

In [6]:
#SELECT COLUMNS
print(df.loc[filter1,'Time':'Region']) # from Time to Region
print(df.loc[filter1,['Time','Region']].head(5))# only Time , Region

NameError: name 'filter1' is not defined

In [187]:
print(df.iloc[0:2,2:5]) # with iloc colmns can be sliced with index
print(df.loc[0:2,'Time' : 'BuyCategory']) #with loc col names need be in string

      Time  Gender BuyCategory
0  Morning  Female        High
1  Morning  Female      Medium
        Time  Gender BuyCategory
0    Morning  Female        High
1    Morning  Female      Medium
2  Afternoon  Female      Medium

In [ ]:
#pivot table
#date time funcations

In [ ]:
# converting the regis column
df_wait = df["triage_sec"] - df["reg_sec"]
df_wait.head(15)

# creating a filter
filt1 = df["triage_sec"] < df["reg_sec"]

# making provision for case 2 in the df_wait series
# You need to remember the person would have waited some time in Day1 and then some time in day 2. 
# The total secs in a day is (24*60*60) or 86400 secs thus time spent in day 1 since registration would be 86400 - reg_secs
# Time spent in day2 would be triage_secs. So total time spent = Day 1 + day 2 time

# filtering out the negative values and modifying 
df_wait[filt1] = (24*60*60) - df["reg_sec"][filt1] + df["triage_sec"][filt1] 

# add back to the data as an additional column 
df["Wait_time"] = df_wait
df["Wait_min"]  = df["Wait_time"] / 60 

df.head(16)

#pivot Table => row to column
df[['Hospital_Name', 'Wait_min']].pivot_table(columns = "Hospital_Name", fill_value = "Wait_min", 
                                              aggfunc = ("mean", "median", "max"))